<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Applications.StoragePath"
         value="Applications\"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Sentio.Grid.Server.Services.DeploymentServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Sentio.Grid.Server.Services.DeploymentServiceBehavior"
          name="Sentio.Grid.Server.Services.DeploymentService">
        <endpoint address="" binding="wsHttpBinding" contract="Sentio.Grid.Server.Services.IDeploymentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!-- <add baseAddress="http://localhost:8731/Design_Time_Addresses/Sentio.Grid.Server.Services/DeploymentService/" /> -->
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>